<!doctype html>
<html>

<head>
    <meta charset='utf=8' />
    <title> Email Dashboard </title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <style>
      body { display: flex; flex-direction: column;}

      body, html {height: 100%;}


      nav {flex: 0 0 64px;}
      main { flex: 1 1 100%; }
      footer { flex: 0 0 60px; }
      .container {flex-direction: row | row-reverse | column | column-reverse;}
      
      .email-queue  { margin: 0px}
      .email-queue .card-panel { margin: 0px}


    </style>

</head>

<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Email Dashboard</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
    </div>
</nav>

<main class='grey lighten-5'>
    <div class="row">
        <div class="section offset-s3"></div>
        <div class="col s3">
            <div class="row">
                <div class="email-queue card">
                    <div class="card-panel white">
        <span class="column">Email Queue
        </span>
                    </div>
                </div>
                <div class="email-queue card ">
                    <div class="card-panel white">
        <span class="column">Us in black total ten window card.
        </span>
                    </div>
                </div>
                <div class="email-queue card">
                    <div class="card-panel white">
              <span class="column">Degree should treatment director.
              </span>
                    </div>
                </div>
                <div class="email-queue card ">
                    <div class="card-panel white">
              <span class="column">Blue item ever rock.
              </span>
                    </div>
                </div>
                <div class="email-queue card ">
                    <div class="card-panel white">
              <span class="column">Hour tech pretty against effect fish.
              </span>
                    </div>
                </div>
                <div class="email-queue card ">
                    <div class="card-panel white">
              <span class="column">Article sing spend
              </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s9">
            <a class="waves-effect waves-light btn-small">Review</a>
            <a class="waves-effect waves-light btn-small"><i class="material-icons left"></i>Delete</a>
            <a class="waves-effect waves-light btn-small"><i class="material-icons right"></i>Send</a>

        </div>




</main>


<footer class='page-footer' style='text-align: center;'>
    Copyright &copy;Nobody Inc 2020-2020
</footer>



</body>

</html>
